.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #ff0000;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: rgb(122, 118, 112);
    border: 1px solid rgb(0, 0, 0);
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    color: white;
}

.BuildControl .Less {  
    background-color: rgb(226, 30, 30);
    color: white;
}

.BuildControl .More {
    background-color: rgb(35, 158, 14);
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(255, 30, 0);
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgb(101, 241, 76);
    color: white;
}